.planet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  width: 250px;
  height: 250px;
}

.name {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 20px;
}

.description {
  text-align: center;
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 16px;
  max-width: 800px;
}

@media screen and (min-width: 768px) {
  .image {
    height: 300px;
    width: 400px;
  }

  .name {
    font-size: 32px;
    margin-top: 40px;
  }

  .description {
    font-size: 20px;
    margin-bottom: 40px;
  }
}
