.planets-app-container {
  display: flex;
  flex-direction: column;
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  min-height: 100vh;
  padding: 40px;
}

.heading {
  font-family: 'Roboto';
  font-size: 36px;
  text-align: center;
  color: #05acff;
  font-weight: 700;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .planets-app-container {
    padding: 80px;
  }

  .heading {
    font-size: 48px;
    margin-bottom: 64px;
  }
}
